<a href="https://colab.research.google.com/github/mathcircle/mc-coding-2019/blob/master/classroom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Information
*  Code shared in https://github.com/mathcircle/mc-coding-2019
*  We will use a simple online coding system located here: https://repl.it/languages/python3
*  Python Documentation: https://docs.python.org/3/

#  Topics covered
*  2019-06-10: console input/output, operators (arithmetic, conditional, logical)
*  2019-06-11: python documentation, comments, 
*  2019-06-12: Literals (numbers, string, logical)
*  2019-06-13: Variables and types
*  Operations (arithmetic, logical, string, lists)
   *  Conditional operations (`<, >, <=, >=, ==, !=, is [not], [not] in`)
   *  String operations (`3 * 'un' + 'ium', len, indexing: word[-2], word[2:4], word[:4`])

Learning to code is learning to *think* in a new way. It is similar to learning a language. You need to actually write to get a hang of things. Otherwise, you'll understand, but you'll forget most of it once the course is over.

# Input and output

In [0]:
# You can print to the console using the in-built function `print`
print("Hello World!")    # Strings can either be enclosed in double quotes
print('Hello world!')    # Or in single quotes
print(42)    # Numbers can be of type integer
print(10.3)    # Or of type float

Hello World!
Hello world!
42
10.3

In [0]:
# You can assign an number or string to a variable using the assingment operator =.
str = input("Enter your name: ")
print(str)
str = "Some other name"    # variable contents may change throughout the program.
print(str)

Enter your name: Sudip
Sudip
some other name

# Operations: arithmetic, conditional, Boolean/logical

##  Arithmetic operations
*  *Input*: numbers
*  *Output*: number

In [0]:
# Arithmetic operations (`+, -, *, **, /, //, %`)
print(4 - 3)
print(4 * 3)
print(4 ** 3)
print(4 / 3)
print(4 // 3)
print(4 % 3)

7
1
12
1.3333333333333333
1
1
64

In [0]:
# Write a program to input a number and output the units digit and the tens digit
num = int(input("Enter a two digit number: "))
units = num % 10
tens = num % 100
tens = tens // 10
print(units)
print(tens)

12

In [0]:
4 != 3

True

##  Conditional operations
*  *Input*: numbers
*  *Output*: Boolean/logical

In [0]:
print(4 > 3)
print(2 >= 2)
print(1 + 1 == 2)
print(23 // 10 != 2)

True
True
True
False

##  Boolean/logical operations
*  *Input*: Boolean/logical
*  *Output*: Boolean/logical

In [0]:
print(True)
print(not False)
print(True and (4>3))
print(True and False)

True
True
True
False