<a href="https://colab.research.google.com/github/mathcircle/mc-coding-2019/blob/master/classroom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Information
*  Code shared in https://github.com/mathcircle/mc-coding-2019
*  We will use a simple online coding system located here: https://repl.it/languages/python3
*  Python Documentation: https://docs.python.org/3/

#  Topics covered
*  2019-06-10: console input/output, operators (arithmetic, conditional, logical)
*  2019-06-11: python documentation, comments, decisions, iterations
*  2019-06-12: Literals (numbers, string, logical)
*  2019-06-13: Variables and types
*  Operations (arithmetic, logical, string, lists)
   *  Conditional operations (`<, >, <=, >=, ==, !=, is [not], [not] in`)
   *  String operations (`3 * 'un' + 'ium', len, indexing: word[-2], word[2:4], word[:4`])

Learning to code is learning to *think* in a new way. It is similar to learning a language. You need to actually write to get a hang of things. Otherwise, you'll understand, but you'll forget most of it once the course is over.

# Input and output

In [0]:
#  You can print to the console using the in-built function `print`
print("Hello World!")    # Strings can either be enclosed in double quotes
print('Hello world!')    # Or in single quotes
print(42)    # Numbers can be of type integer
print(10.3)    # Or of type float

Hello World!
Hello world!
42
10.3

In [0]:
#  You can assign an number or string to a variable using the assingment operator =.
#  Input a string from the user.
str = input("Enter your name: ")
print(str)
str = "Some other name"    # Variable contents may change throughout the program.
print(str)

Enter your name: Sudip Sinha
Sudip Sinha
Some other name

# Operations: arithmetic, conditional, Boolean/logical

##  Arithmetic operations
*  *Input*: numbers
*  *Output*: number

In [0]:
# Arithmetic operations (+, -, *, **, /, //, %)
print(4 - 3)
print(4 * 3)
print(4 ** 3)
print(4 / 3)
print(4 // 3)
print(4 % 3)

1
12
64
1.3333333333333333
1
1

In [0]:
# Write a program to input a number and output the units digit and the tens digit
num = int(input("Enter a two digit number: "))
units = num % 10
tens = num % 100
tens = tens // 10
print(units)
print(tens)

Enter a two digit number: 89
9
8

In [0]:
4 != 3

True

##  Conditional operations
*  *Input*: numbers
*  *Output*: Boolean/logical

In [0]:
print(4 > 3)
print(2 >= 2)
print(1 + 1 == 2)
print(23 // 10 != 2)

True
True
True
False

##  Boolean/logical operations
*  *Input*: Boolean/logical
*  *Output*: Boolean/logical

In [0]:
print(True)
print(not False)
print(True and (4>3))
print(True and False)

True
True
True
False

In [0]:
#  Input two numbers base and exponent and output base^exponent. Also print true when the result is even.
base = int(input("Enter base: "))
exponent = int(input("Enter exponent: "))
result = base ** exponent
print(result)
print(result % 2 == 0)

Enter base: 2
Enter exponent: 4
16
True

#  Documentation, comments

#  Making decisions

##  Flowcharts
Linear vs non-linear flow

##  Problems

In [0]:
#  Input a user's points out of 100, and grade him according to the following:
#    points >= 90: A
#    80 <= points < 90: B
#    70 <= points < 80: C
#    60 <= points < 70: D
#    points < 60: F

points = int(input("Enter points: "))
if points < 0 or points > 100:
  print("Invalid score. Scores must be between 0 and 100.")
elif points >= 90:
  print("Grade: A")
elif points >= 80:
  print("Grade: B")
elif points >= 70:
  print("Grade: C")
elif points >= 60:
  print("Grade: D")
else:
  print("Grade: F")

In [0]:
#  Input a number and output the absolute value of that number.
num = float(input("Enter number: "))
if num < 0:
  num = -num
print(num)

In [0]:
#  Print even or odd.
num = int(input("Enter an integer: "))
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter an integer: -3
Odd

#  Iterations
*  while
*  range
*  for

###  While loops

In [0]:
#  Print all numbers from 4 to 0.
i = 4
while i >= 0:
  print(i)
  i = i - 1

4
3
2
1
0

In [0]:
#  Print all the even natural numbers from 0 to n.
limit = float(input("Enter limit: "))
i = 0
while i <= limit:
  print(i)
  i = i + 2

Enter limit: 7
0
2
4
6

In [0]:
#  Print all the digits of a number in reverse.
#  E.g. if the user enters 7231, print 1327.

number = int(input("Enter number: "))
reverse = 0

while number > 0:
  units = number % 10
  reverse = reverse * 10 + units
  number = number // 10

print(reverse)

Enter number: 1253476897163
3617986743521

###  For loops and the range function

In [0]:
#  Print odd numbers from 1 to 11 using a for loop and range.
for i in range(1, 12, 2):
  print(i)

1
3
5
7
9
11

In [0]:
#  Fizz buzz game (https://en.wikipedia.org/wiki/Fizz_buzz)
#  Print numbers from 1 to 32 with the following restrictions.
#  *  Any number divisible by 3 is replaced by the word fizz.
#  *  Any number divisible by 5 is replaced by the word buzz.
#  *  Numbers divisible by both 3 and 5 become fizz buzz.
#  Sample output till 16: 1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16

for i in range(1, 33):
  str = ""
  if i % 3 == 0 and i % 5 == 0:
    print("Fizz Buzz")
  elif i % 3 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz Buzz
31
32

In [0]:
#  Calculate n!

number = int(input("Enter number: "))
fact = 1

for i in range(2, number + 1):
  fact = fact * i    # Introduce the op= variants

print(fact)

Enter number: 6
720

#  Functions

Functions take input(s) and return an output

_Syntax_:
```python
def NAME ([parameter1: type1, [parameter2: type2, [...]]]) ['->' output_type] ':'
  """This is a documentation comment
      for the dummy function."""
  
  # Do what you have to do
  return return_object
```

In [0]:
#  Factorial

def factorial(n: int) -> int:
  """ Take a number and return its factorial.
      The factorial is given by the formula n! = n * (n - 1) * ... * 2 """
  
#   #  Check for bad input
#   if n < 0:
#     return -1
  
  fact = 1
  for i in range(2, n+1):
    fact *= i
  return fact

print(factorial(4))

24

In [0]:
#  Function to compute n choose k.
def choose(n: int, k:int) -> int:
  """ Take two integers and return C(n, k).
      This is given by the formula C(n, k) = n! // (k! (n - k)!) """
  
  return factorial(n) // (factorial(k) * factorial(n - k))

print(choose(5, 2))

10

In [0]:
#  Write a function (using iteration) to return the nth Fibonacci number
#  0, 1, 1, 2, 3, 5, 8, 13, 21, ...

def fibonacci(n: int) -> int:
  """ Return the nth Fibonacci number. """
  
  p = 1
  q = 0
  s = 0
  
  for i in range(n):
    s = p + q
    p = q
    q = s
    #  (s, p, q) = (p + q, q, s)
  
  return q

print(fibonacci(6))

8

In [0]:
#  Write a function to reverse the digits of a decimal number.
#  E.g. if the user enters 7231, print 1327.


def num_reverse(n: int) -> int:
  """ Reverses the digits of a decimal number """
  
  reverse = 0
  
  while n > 0:
    units = n % 10
    reverse = reverse * 10 + units
    n //= 10
  
  return reverse

#  Execute the program
number = int(input("Enter number: "))
print(num_reverse(number))

Enter number: 445891
198544

In [0]:
#  Write a function called is_prime to check if the argument is prime or not.
#  Your return should be a Boolean.

In [0]:
#  Write a function to return a string containing the following pattern for n lines.
#          $
#        $   $
#      $       $
#    $           $
#  $               $
#    $           $
#      $       $
#        $   $
#          $

####  Write a Python function to check whether a number is perfect or not.

*Definition*: In number theory, a _perfect number_ is a positive integer that is equal to the sum of its positive divisors excluding the number itself. 

*Example*: The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. The next perfect number is 28 = 1 + 2 + 4 + 7 + 14.

####  Find the first 4 perfect numbers.

#  Recursion
*  Base case
*  Recursion step
*  Do NOT forget: the base case comes first
*  Recursion vs induction
*  Iteration vs recursion
*  Meat: Towers of Hanoi

In [0]:
#  Write a function to return the factorial of n using recursion.
#  Remember: n! = n * (n - 1)!

def fact(n: int) -> int:
  """ Calculates the factorial of an integer. """

  if n <= 1:
    return 1
  return n * fact(n - 1)

print(fact(5))

120

In [0]:
#  Write a function to return the nth Fibonacci number using recursion.
#  Remember: f(n) = f(n - 1) + f(n - 2)

def fibonacci(n: int) -> int:
  """ Return the nth Fibonacci number. """
  
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

print(fibonacci(6))

8

In [0]:
#  Write a recursive function to calculate the sum of digits of a decimal number.
import random

def sum_of_digits(n: int) -> int:
  """ Return the sum of digits of a decimal number. """
  
  if n == 0:
    return 0
  return  n % 10 + sum_of_digits(n // 10)

n = random.randint(0, 10**950)    # n is a random integer from 0 to 10^100
print(n)
print(sum_of_digits(n))

11209606512493506750880926145507133407165783039612411114162308082427215061475230379383503285552788669892163155929500976138392608908697854833064118241990287457272494401073943911565831459553870201426928534349348482261960221821213623088347351882561634413460502973251843806479400170685380634798360291632530324696275241619732431613171208119601466958905638082471231396415946469760239721612566869158118514143442496857435737491700302129987662667806036664000235989828096406320691941300544753491593183699247688474176100590745898345944136539709218774688661708166474138087712027598778659899531639190691480675939069347905664157080483973308343657386690951493987548504719441642831967487040467791307934390770020567872101937199581437215814621079651731024477193586929470290094600968650302013116456709706980205351124515202244736987963970427392483327434790614410259502638251242230415415623097507047354332050904253058482315397593298859825659166738666021650477609018268244
4183

In [0]:
#  Use the above function to quickly check if a (possibly large) number is divisible by 3 or not.
import random

def div_by_3(n: int) -> bool:
  """ Return if n is divisible by 3. """
  
  return sum_of_digits(n) % 3 == 0

n = random.randint(0, 10**950)    # n is a random integer from 0 to 10^100
print(n)
print(sum_of_digits(n))
print(div_by_3(n))

11100403667707985397340248363819871174775688759976454937583633552731582521418362357148771451600712280413130475821641408909205057361414779644498346119741691952174934242007403152190983908975432040462088745002472547065114875902221707639409544968382997900851682538912589988295608009375260847380859196253161920792939981451351070300775789453385007311442736824051377530220639863073253016883802880634835657238652757986866532968180206231998930121571611798117086064262604312586514527110836494981969229407616281277279481039142555269772917968589164572556764264026268089375509230634731779916319994650509811036765716235947597219337437513093401462095745572163427876755937922712717619610376757910429316298522010947296784762428244533269179588957982747836252159572712624843652461613097406248608072966459757777874973059826344269369217999465430386907819792617592512914740908678267208716181534764866270722833730802121353538732511408605505230526549666406124240839186106028
4317
True

#  Nested loops

In [0]:
#  Write a script to print multiplication tables upto n

#  Table for 1
#  ===========
#  1 * 1 = 1
#  1 * 2 = 2
#  ...
#  1 * n = n
#  
#  Table for 2
#  ===========
#  2 * 1 = 2
#  2 * 2 = 4
#  ...
#  2 * n = 2n
#  
#  ...
#  
#  Table for n
#  ===========
#  n * 1 = n
#  n * 2 = 2n
#  ...
#  n * n = n^2

#  Hint: use nested for loops

#  Object `type`
*  checking: `type`
*  casting: `int`, `float`, `bool`, `str`

In [0]:
type(1)

#  String operations
*  +
*  *
*  indexing
*  negative indexing
*  slicing
*  :
*  format()

In [1]:
#  Print the following pattern for n lines
#  $
#  $$
#  $$$
#  $$$$
#  $$$$$
#  Hint: try the * function on strings, e.g. "x" * 4 = ?

number = int(input("Enter number: "))

for i in range(number + 1):
  print("$" * i)

Enter number: 3

$
$$
$$$

In [0]:
#  Write a function to return a string with the following pattern for n lines:
#  $
#  $$
#  $$$
#  $$$$
#  $$$$$
#  Hint: In order to induce a line break, use '\n'

In [0]:
#  Write a function to return a string with the following pattern for n lines:

#  1
#  1 2
#  1 2 3
#  1 2 3 4
#  1 2 3 4 5

In [0]:
#  Fizzbuzz variant
#  Write a function which returns a string of fizz buzz horizontally.
#  1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16.

#  Lists

## Declaration

In [2]:
empl_names = ["Sudip", "Gavin", "Rohin", "Luci"]
empl_numbers = [11, 9, 1, 4]
print(empl_names)
print(empl_numbers)
len(empl_numbers)

#  Print employee numbers beside employee names.
#  E.g.    11  Sudip

['Sudip', 'Gavin', 'Rohin', 'Luci']
[11, 9, 1, 4]

4

In [0]:
# Lists can contain numbers, Booleans, strings, and more lists!
weird_list = [1, 2, "three", ["inside", "list"], True]
print(weird_list)

[1, 2, 'three', ['inside', 'list'], True]

##  Indexing and slicing

##  Looping through lists

#  Miscellaneous topics

In [0]:
#  Check the version of python
import sys
print(sys.version)
print(sys.version_info)

3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]
sys.version_info(major=3, minor=6, micro=7, releaselevel='final', serial=0)